* {
  font-family: 'Roboto';
}

.events-container {
  display: flex;
  background-color: #3a4b63;
  color: #ffffff;
  height: 100vh;
}

.events-list {
  flex: 2;
  padding: 20px;
}

.events-heading {
  font-size: 32px;
  text-align: start;
  margin-bottom: 20px;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
